@media only screen and (max-width:600px){
   main{
        min-height: 80vh;
   }

   #navbar{
        grid-template-columns: 50vw 50vw;
   }

   #EVlogo {
        margin-left: 24px;
   }
   
    #hamburgerMenu{
        margin-left: calc(-100vw + 72px);
        margin-top: 60px;
        padding-top: 12px;
        left: 0px;
        width: 100vw;
        margin-left: 0px;
    }

    #hamburgerMenu li a{
        font-size: 38px;
        line-height: 200%;
    }

    #hamburgerMenu li{
        border-bottom: 3px solid white;
        padding: 0px 60px;
        margin-top: 24px;
        transform: rotate(-6deg);
        border-radius: unset;
        display: block;
    }

    #homepage{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    #vertText{
        display: none;
    }

    #carouselText{
        grid-area: 2 / 1 / span 1 / span 1; 
    }

    #lineNav{
        grid-area: 1 / 1 / span 1 / span 1; 
    }

    #curtain{
        grid-area: 3 / 1 / span 1 / span 1;
    }

    .left-half1, .left-half2,.right-half1 , .right-half2{
        margin:24px 16px;
      }

    #artist{
        padding-top:20px;
        min-height:50vh;
    }

    #artistPic{
        margin-left:5vw;
        height:35vw;
        width:35vw;
        border-radius:30px;
    }

    #artistName{
        padding-left:10px;
        padding-top:15px;
        font-size:32px;
        color:deepskyblue;
        text-align:left;
    }

    #artistBio{
        height:30vh;
        float:right;
        margin-top: 5vh;
        margin-left:-30vw;
        margin-right:-10vw;
        font-size:14px;
    }

    #artistArt{
        background-color:white;
        padding-top:0px;
        min-height:80vh;
    }

    #quickGallery{
        margin-left:5vw;
        height: 60vw;
        width:90vw;
    }

    #currentGalleryPic{
        height:60vw;
        width:90vw;
    }

    #artInfo{
        width:100vw;
        font-size:14px;
        padding-top:5vw;
        padding-left:10vw;
    }

    .bottom-text{
        font-size:14px;
        width:90vw;
    }
}