@media only screen and (max-width:600px){
   main{
        min-height: 80vh;
   }

   #navbar{
        grid-template-columns: 50vw 50vw;
   }

   #EVlogo {
        margin-left: 24px;
   }
   
    #hamburgerMenu{
        margin-left: calc(-100vw + 72px);
        margin-top: 60px;
        padding-top: 12px;
        left: 0px;
        width: 100vw;
        margin-left: 0px;
    }

    #hamburgerMenu li a{
        font-size: 38px;
        line-height: 200%;
    }

    #hamburgerMenu li{
        border-bottom: 3px solid white;
        padding: 0px 60px;
        margin-top: 24px;
        transform: rotate(-6deg);
        border-radius: unset;
        display: block;
    }

    #homepage{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    #vertText{
        display: none;
    }

    #carouselText{
        grid-area: 2 / 1 / span 1 / span 1; 
    }

    #lineNav{
        grid-area: 1 / 1 / span 1 / span 1; 
    }

    #curtain{
        grid-area: 3 / 1 / span 1 / span 1;
    }
}