nav{
    box-shadow: 0px 1px 2px 1px lightgray;
}

#masthead{
    height:38px;
    background-color: #d5d5d5;
}

#headerLogo{
    float:left;
    position: absolute;
    width:120px;
    height: 50px;
    cursor: pointer;
}

#navbar{
    height:156px;
    display: grid;
    grid-template-columns: 80vw 20vw;
}

#navMenu{
    grid-column: 2/3;
    grid-row: 1;
    margin-top: 64px;
    margin-left: calc(100% - 20vw);
}

#EVlogo{
    margin-left: 48px;
    margin-top: 48px;
    width: 200px;
    height: 60px;
    grid-column: 1/2;
    cursor: pointer;
}

#hamburger{
    width: 48px;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
    margin-left: calc(100% - 60px);
}

#hamburger svg{
    margin: 4px 6px;
    transition: transform 0.5s ease-in-out;
}

#hamburgerMenu{
        height: 0px;
        background-color:#7047F3;
        overflow: hidden;
        z-index: 2;
        opacity: 0;
        overflow: hidden;
        margin-top: -96px;
        width: 55vw;
        position: absolute;
        z-index: -1;
        right:0px;
        transition: height 0.375s ease-in-out;
}

#hamburgerMenu li{
    list-style-type: none;
    display: inline-block;
    margin-top: 32px;
    margin-right: -96px;
    border-bottom: 4px solid white;
    border-radius: 6px;
    transform: rotate(-45deg);
    width: 200px;
}

#hamburgerMenu li a{
    font-family: museo-sans, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: white;
    font-size: 24px;
    line-height: 165%;
    display: inline-block;
    padding-left: 6px;
    width: 100%;
}


#hamburgerMenu li:hover a{
    color:#7047F3;;
}
